.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.post {
  max-width: 768px;
  margin: 5rem auto 0;
  position: relative;

  h1 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: justify;
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    font-family: "Montserrat";
    color: var(--gray-100);
    text-align: justify;

    a {
      text-decoration: underline;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    &.previewContent {
      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 350px;
      height: 500px;
      margin: 0 auto;
    }
  }
}
