.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  font-family: "Montserrat";
  font-size: 1.25rem;

  @media (min-width: 768px) {
    width: 180px;
  }
}
