.homeDescriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  height: 100%;

  @media (min-width: 768px) {
    padding: 4rem 0rem;
  }
}

.title {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 640px;
}

.description {
  font-size: 1.25rem;
  text-align: center;
  font-family: var(--font-montserrat);
  line-height: 2.5rem;
}
