.contentContainer {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 2rem;
  height: 450px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sectionContent {
  max-width: 550px;

  h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
  }
}